* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}
:root{
    --bg-color:#080808;
    --second-bg-color:#1b0000;
    --text-color:white;
    --main-color:aqua;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;
}
.logo{
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    cursor: pointer;
    transition: 0.3s ease;
    background: linear-gradient(110deg, aqua 8%, #fff,aqua 32%) ;
    color: transparent;
    -webkit-background-clip: text;
    animation: moveBg 2s infinite linear;
    transition: 1s;
    background-size: 200% 100%;

}
@keyframes moveBg{
    from{
        background-position: 0;
    }
    to{
        background-position: -200%;
    }
}
.logo:hover{
    transform: scale(1.1);

}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: aqua;
    border-bottom: 3px solid aqua;
}
#menu-icon{
    font-size:4rem;
    color:var(--main-color);
    display:none;
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.Accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}
.login{
    font-size: 4.3rem;
    font-weight: 800;
    font-style: italic;
    cursor: pointer;
    transition: 0.3s ease;
    background: linear-gradient(110deg, aqua 8%, #fff,aqua 32%) ;
    color: transparent;
    -webkit-background-clip: text;
    animation: moveBg 2s infinite linear;
    transition: 1s;
    background-size: 200% 100%;

}
@keyframes moveBg{
    from{
        background-position: 0;
    }
    to{
        background-position: -200%;
    }
}
.logo span{
    color: var(--main-color);
}
.Accueil-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: center;
}
#btn-burger:checked~ .navbar{
    display: block;
}
#btn-burger{
    display: none;
}
    

.Accueil-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;

}
.Accueil-content h1{
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.Accueil-img img{
    position: relative;
    width: 32vw;
    height: 50rem;
    margin-top:8.5rem;
    margin-right: 10rem;
    border-radius: 50%;
    box-shadow:  0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.Accueil-img img:hover{
    box-shadow: 0 0 25px aqua,
                0 0 50px aqua,
                0 0 100px aqua;
}
.Accueil-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color) ;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color:var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 50px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: #000;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;

}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px aqua;
    background-color: aqua;
    color: #000;
   
}
.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: 'Dévéloppeuse Web';
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation:  cursor 0.6s infinite, typing 20s steps(14) infinite;

}
@keyframes cursor{
    to{
        border-left: 2px solid aqua;
    }
}
@keyframes words{
    0%,
    20%{
        content: 'Back-End Developper';

    }
    21%, 
    40%{
        content: 'Front-end Developper';
    }
    41%, 
    60%{
        content: 'Web Developper';
    }
    61%,
    80%{
        content: 'UI/UX Designer';
    }
    81%,
    100%{
        content: 'Web Designer';
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    80%,
    85%{
        width: calc(100% + 8px);
    }

}
/* Mis en forme de la deuxième section */
.apropos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: rgb(0, 12, 12);
    color: white;
}
.apropos-img{
    border-radius: 50%;
}
.apropos-img img{
    position: relative;
    width: 32vw;
    height: 50rem;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}
.apropos-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
               
}
.moi{
    color: var(--main-color);
}
.heading{
    text-align: center;
    font-size: 6rem;
    margin: 5rem 0;

}
.apropos-content h2{
    text-align: left;
    line-height: 1.5;
    margin-bottom: 10px;
}
.apropos-content h3{
    font-size: 3rem;
}
.apropos-content p{
    font-size: 1.8rem;
    margin:2rem 0 3rem
}
.apropos.heading{
    margin: 0;
}

.apropos-content .text-animation span::before{
    content: 'Dévéloppeuse Web';
    color: var(--main-color);
    animation: words 20s infinite;
}
.apropos-content .text-animation span::after{
    content: '';
    background-color:rgb(0, 12, 12) ;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation:  cursor 0.6s infinite, typing 20s steps(14) infinite;

}
/* code de la barre vertivale */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}
/* Mis en forme de la troisième section */
.education{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education .education-column{
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2.5rem;
}
.education-column .education-box{
    border-left:.2rem solid var(--main-color);

}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(21, 179, 179);
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover::before{
    width: 100%;


}
.education-content .content .year{
    font-size: 1.5rem;
    color: rgb(128, 238, 238);
    padding-bottom: .5rem;
}
.education-content .content .year i{
    padding-right: .5rem;

}
.education-content .content h3{
    font-size: 2rem;

}

.education-content .content p{
    font-size: 1.5rem;
    padding-top: .5rem;
}
/* MEF de la quatrième section */
.competences{
    min-height: auto;
    padding-bottom: 7rem;
    background: rgb(0, 27, 27);
}
.competences .competences-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.competences-row .competences-column{
    flex: 1 1 40rem;
}
.competences-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.competences-box .competences-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}
.competences-box .competences-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background: rgb(21, 179, 179);
    z-index: -1;
    transition:.5s;
}

.competences-box .competences-content:hover::before{
    width: 100%;


}
.competences-content .progress{
    padding: 1rem 0;

}
.competences-content .progress h3{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
}
span{
    color: var(--text-color);
}
.competences-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}
.competences-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}
.competences-column:nth-child(1) .competences-content .progress:nth-child(1) .bar span{
    width: 50%;
}
.competences-column:nth-child(1) .competences-content .progress:nth-child(2) .bar span{
    width: 80%;
}
.competences-column:nth-child(1) .competences-content .progress:nth-child(3) .bar span{
    width: 50%;
}
.competences-column:nth-child(1) .competences-content .progress:nth-child(4) .bar span{
    width: 55%;
}
.competences-column:nth-child(2) .competences-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.competences-column:nth-child(2) .competences-content .progress:nth-child(2) .bar span{
    width: 80%;
}
.competences-column:nth-child(2) .competences-content .progress:nth-child(3) .bar span{
    width: 65%;
}
.competences-column:nth-child(2) .competences-content .progress:nth-child(4) .bar span{
    width: 60%;
}
/* Mis en forme de la cinquième section */
.services{
    background: rgb(41, 151, 151);
    color: black;
}
.services h2{
    margin-bottom: 5rem;
    color:var(--text-color);
}
.service-container{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 2.5rem;
}
.service-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    height: 400px;
    width: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}
.service-box:hover{
    background:rgb(0, 12, 12) ;
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.service-box .service-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem;
}
.service-info h4{
    font-size: 3rem;
    margin: 2rem 0;
    font-weight: 700;

}
.service-info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}
.service-info i{
    font-size: 8rem;
}
/* mis en forme de la sixième section */
.Projet{
    /* background: url(pay5.jpg) center no-repeat;
    background-size: cover; */
    background: rgb(0, 20, 20);
}

.projet-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    margin: 5rem 0;
    gap: 3rem;
    row-gap: 5rem;
}
.projet-card{
    height:350px;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    border: 2px solid var(--main-color);
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.4s;
}
.projet-card:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    transform: scale(1.02);
}
.projet-card img{
    max-width:18vw;
    height: 30%;
    object-fit:cover;
    /* margin-top: 10px; */
}

.projet-card h3{
    font-size: 3rem;
}
.projet-card p{
    font-size: 1.5rem;
}
/* mEF du formulaire */
.MOI{
    color: var(--main-color);
}
.contact{
    background: black;

}
.contact h2{
    margin-bottom: 3rem;
    color: white;
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: #fff;
    background: #000;
    border-radius: 2rem;
    border: 2px solid aqua;
    margin: 1.5rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
}
/* MEF du footer */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgb(0, 12, 12);
}
.footer .social-icons{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social-icons a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}
.footer .social-icons a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: #000;
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid aqua;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .service-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(1,1fr);
        margin: 0 5rem;
    }
    .projet-box{
        grid-template-columns: repeat(2,1fr);
    }
    .projet-box img{
        min-width: 30vw;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;

    }
    section{
        padding: 10rem 3% 2rem;
    }
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom:2px solid var(--main-color);
        display: none;
    }
    .navbar .active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 3rem;
        margin: 3rem 0;
        color: #fff;
    }
    .Accueil{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
        gap:3rem;
    }
    .Accueil-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .Accueil-content h3{
        font-size:3rem;
    }
    .Accueil-content h1{
        font-size: 7rem;
        margin-top: 3rem;

    }
    .Accueil-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .Accueil-img img{
        width:56vw;
        margin: 3rem 0;

    }
    .apropos{
        flex-direction: column-reverse;
        padding: 10rem 9% 10rem;

    }
    .apropos .heading{
        margin: 3rem 0;
    }
    .apropos img{
        width: 56vw;
    }
    .service h2{
        margin-bottom: 6rem;
    }
    .service-container{
        grid-template-columns: repeat(1,1fr);
        display: grid;
        margin-left: 30%;
    }
    .projet-box{
        grid-template-columns: repeat(1,1fr);
    }
    .projet-box img{
        min-width: 42rem;
    }
} 


